.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

bin/
obj/

*.cache
*.log
*.pdb
*.pidb
*.suo
*.sln.ide
*.slnnt
*.swp
*.sln.docstates

debug/
release/
Generated\ Files/
x64/
x86/
TestResults/
*.vspscc
*.vssscc

.publish/
out/

*.nupkg
*.snupkg
.nuget/
.nuget/**/csproj.nuget.g.props
.nuget/**/csproj.nuget.g.targets
packages/
project.lock.json
project.fragment.lock.json
artifacts/

*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

node_modules/
bower_components/

*.tmp
*.temp
*.log

*.msi
*.msm
*.msp

publish/
dist/
